/*CSS IMPORTADOS*/

@import "./variables.css";
@import "./reset.css";

/* --- 1. ESTILOS DEL HEADER --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: rgb(3, 0, 0); /* negro oscuro con un toque mínimo de transparencia */
    backdrop-filter: blur(5px); /* Efecto esmerilado/borroso detrás del header */
    box-shadow: 0 4px 20px rgba(17, 2, 2, 0.664);
    position: sticky; /* Hace que el header se quede fijo arriba al hacer scroll */
    top: 0;
    z-index: 100; /* Asegura que quede por encima del slider y de todo lo demás */
}

/* Quitar el estilo de enlace azul por defecto al contenedor del logo */
.logo-link {
    text-decoration: none; /*Eliminar subrayado por defecto*/
    color: inherit;
}
/* Esto blinda al logo para que ignore cualquier efecto de hover no deseado */
.logo-link:hover {
    color: inherit;
    text-decoration: none;
    background: none;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

header .logo img {
    height: 45px;
    width: auto;
    border-radius: 50%; /* Si el logo es cuadrado, esto lo hará redondo y estilizado */
    object-fit: cover;
}

header .logo h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-blanco);
    letter-spacing: -0.5px;
}

header .logo h1 span {
    color: var(--color-oro); /*Cambia el color del texto "Freelancer" a dorado */
    font-weight: 400;
    font-size: 1rem;
    display: block; /* Hace que "Freelancer" vaya abajo del nombre en texto chico */
}

/* ---  ENLACES DE NAVEGACIÓN CON EFECTO CUADRO --- */
header ul {
    display: flex;
    list-style: none;
    align-items: center; /* Asegura que todos los links estén centrados verticalmente */
    gap: 10px; /* Se achica un poco el espacio entre elementos porque el padding sumará tamaño */
}

header nav a {
    text-decoration: none; /*Quitar subrayado por defecto*/
    color: var(--color-principal); 
    font-weight: 500; 
    font-size: 1rem;
    /* Crea el espacio del cuadro desde el principio */
    padding: 0.3rem 0.8rem; /* 0.6rem arriba/abajo y 1rem a los lados */
    border-radius: 5px;   /* Bordes suavemente redondeados para el cuadro */
    background-color: transparent; /* El fondo empieza siendo invisible */
    /* Suaviza tanto el cambio de color de la letra como el del fondo */
    transition: all 0.3s ease; 
}

/* Efecto HOVER: Aquí se pinta el cuadro */
header nav a:hover {
    color: var(--color-oscuro); /* La letra cambia a dorado */
    background-color: var(--color-oro); /*Cambia el fondo a dorado */
    
    
}

/* --- 2. SECCIÓN HERO CON SLIDER - VIDEO--- */
.hero {
    position: relative;
    height: 80vh; /* O la altura que ya tengas configurada */
    width: 100%;
    overflow: hidden; /* Oculta cualquier excedente del video */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el video de fondo */
.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Clave: hace que el video llene el espacio como un fondo sin estirarse */
    z-index: 1; /* Al fondo de todo */
}

/* Capa de contraste traslúcida */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 0, 0, 0.6); /* Capa negra con 60% de opacidad */
    z-index: 2; /* Por encima del video, por debajo del texto */
}

/* Asegura que los textos floten por encima de todo */
.contenido-hero {
    position: relative;
    z-index: 3; /* Al frente de todo */
    text-align: center;
    color: #ffffff;
}
.contenido-hero p {
    font-size: 1.rem;
    margin-bottom: 3rem;
}
/* 3. SECCIÓN SERVICIOS (Maquetando con Flexbox)*/

.seccion-servicios {
    padding: 5rem 5%;
    background-color: #32cca657; /* Un fondo gris casi blanco  */
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 4rem;
}

.titulo-seccion h2 {
    font-size: 2.2rem;
    color: #4D27F5;
    margin-bottom: 0.5rem;
}

.titulo-seccion p {
    color: #A38FFA; /* Gris suave para el subtítulo */
    font-size: 1.1rem;
}

/* CONTENEDOR PADRE: uso de Flexbox */
.contenedor-cards {
    display: flex;
    flex-wrap: wrap;       /* Permite que las tarjetas bajen si no entran en la pantalla */
    justify-content: center; /* Centra las tarjetas si sobra espacio */
    gap: 30px;             /* Separa las tarjetas de forma idéntica */
    max-width: 1200px;
    margin: 0 auto;        /* Centra todo el bloque en pantallas gigantes */
}

/* CONTENEDOR HIJO: La Tarjeta Individual */
.card {
    background-color: #2e3233;
    padding: 2.5rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    /* Configuración elástica de Flexbox */
    flex: 1 1 300px; /* Crece y se achica, pero intenta medir mínimo 300px */
    max-width: 380px; /* Evita que una tarjeta sola se estire feo en pantallas medianas */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto cuando se pasa el mouse por encima de la tarjeta */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Detalles de adentro de la tarjeta */
.card-icono {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.4rem;
    color: #C87809;
    margin-bottom: 1rem;
}

.card p {
    color: #f9fbfc;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}

.card .precio {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-oro); /* Toque dorado distintivo para el precio */
}


/*  BOTONES REUTILIZABLES (Estilo combinados con tu Nav) */

/* La clase base para cualquier botón de la página */
.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px; /* Mismo redondeado que en el nav */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; 
}

/* El botón principal que combina con el estilo dorado*/
.btn-oro {
    background-color: transparent;
    color: var(--color-oro);
    border: 2px solid var(--color-oro); /* Se le da un borde dorado muy fino al principio (Megusta mucho lograr asi :))*/
}
/* Al pasar el mouse hace exactamente el mismo efecto del menú */
.btn-oro:hover {
    color: var(--color-oscuro);
    background-color: var(--color-oro);
    transform: translateY(-3px); /* Un pequeño extra: se eleva un poquito al flotar */
    box-shadow: 0 5px 15px rgba(212, 175, 55, 0.4); /* Brillo dorado suave abajo */
}

/* PÁGINA DE CONTACTO (Formulario + Mapa) - Maquetado con Flexbox*/

.contenedor-contacto {
    padding: 5rem 5% 2rem 5%; /* Menos padding abajo porque se insertara el mapa */
    max-width: 1200px;
    margin: 0 auto;
}

/* Centrado del formulario en la pantalla para que no quede gigante a lo ancho */
.contacto-bloque-superior {
    max-width: 650px;
    margin: 0 auto 4rem auto; /* 4rem de separación con el mapa de abajo */
}

.contacto-formulario {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grupo-input label {
    font-weight: 600;
    color: var(--color-oscuro);
    font-size: 0.95rem;
}

.grupo-input input,
.grupo-input textarea {
    padding: 0.8rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.grupo-input input:focus,
.grupo-input textarea:focus {
    outline: none;
    border-color: var(--color-oro);
}

.btn-enviar {
    width: 100%;
    border: 2px solid var(--color-oro);
}

/* Contenedor del Mapa abajo */
.contacto-mapa-abajo {
    max-width: 1000px; /* Un mapa ancho y panorámico elegante */
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.contacto-mapa-abajo iframe {
    display: block; /* Elimina espacios vacíos raros abajo del iframe */
}

/* PÁGINA DE PRODUCTOS (Con CSS Grid) (Pagina de productos)*/

.contenedor-productos {
    padding: 5rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

/* EL CONTENEDOR PADRE: Con CSS Grid */
.grid-productos {
    display: grid;
    /* Truco trocaso : Crea columnas automáticamente de mínimo 320px, si no entran las baja */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px; /* Separación matemática igual horizontal y vertical */
    margin-top: 3rem;
}

/* Estilos de las Tarjetas de Producto */
.card-producto {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden; /* Corta la imagen para que respete las esquinas redondeadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column; /* Hace que el contenido interno de la card se ordene vertical */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

/* Área de Imagen */
.producto-imagen {
    position: relative;
    height: 200px;
    width: 100%;
}

.producto-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la foto sin deformarla */
}

/* Etiqueta flotante sobre la foto ("Más Vendido") */
.etiqueta-tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--color-oro);
    color: var(--color-oscuro);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.3rem 0.7rem;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Información del Producto */
.producto-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Empuja el botón y precio siempre abajo de todo aunque los textos tengan largos diferentes */
}

.producto-info h3 {
    font-size: 1.3rem;
    color: var(--color-oscuro);
    margin-bottom: 0.8rem;
}

.producto-info p {
    color: #4b5563;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/* Pie de la tarjeta (Precio + Botón) */
.producto-pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Anclaje al fondo */
    padding-top: 1rem;
    border-top: 1px solid #f3f4f6;
}

.precio-oro {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-oro);
}

/* Para que las tarjetas se compacten */
.btn-producto {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    border: 1px solid var(--color-oro);
}

/* 4. FOOTER Y REDES SOCIALES */

footer {
    background-color: rgb(3, 0, 0); /* Un toque oscuro */
    color: #ffffff;
    padding: 3rem 5% 2rem 5%;
    margin-top: auto;
}

.footer-contenido {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Para colocar el logo, la nav y las redes al mismo nivel (flex - horizontal) */
.footer-fila-principal {
    display: flex;
    justify-content: space-between; /* Separa los elementos de extremo a extremo */
    align-items: center;          /* Los centra perfectamente de forma vertical */
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Una línea divisoria muy suave arriba del copy */
    padding-bottom: 2rem;
}

/* El Logo del footer idéntico al del header */
.footer-logo img {
    height: 45px; /* Mismo tamaño exacto que el de header */
    width: auto;
    border-radius: 50%; /* Redondo y estilizado */
    object-fit: cover;
    display: block;
}

/* Menú inferior */
.footer-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.footer-nav a {
   
     text-decoration: none;
    color: var(--color-principal); 
    font-weight: 500; 
    font-size: 1rem;
    padding: 0.3rem 0.8rem; /* 0.6rem arriba/abajo y 1rem a los lados */
    border-radius: 5px;   /* Bordes suavemente redondeados para el cuadro */
    background-color: transparent; /* El fondo empieza siendo invisible */
    /* Suaviza tanto el cambio de color de la letra como el del fondo */
    transition: all 0.3s ease; 
}

.footer-nav a:hover {
    color: var(--color-oscuro); /* La letra cambia a oscuro */
    background-color: var(--color-oro); 
}

/* Contenedor de Redes */
.footer-redes {
    display: flex;
    gap: 12px;
}

.red-social {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.red-social:hover {
    color: var(--color-oscuro);
    background-color: var(--color-oro);
    border-color: var(--color-oro);
    transform: translateY(-3px);
}

.footer-copy {
    font-size: 0.85rem;
    color: #6b7280;
    text-align: center;
    margin: 0;
}







/* 5. DISEÑO RESPONSIVO (Para Celulares y Pantallas Chicas) */

@media (max-width: 768px) {
    
  
    header {
        flex-direction: column; /* Pone el logo arriba y el menú abajo */
        gap: 15px;
        padding: 1.5rem 5%;
    }

    header ul {
        flex-wrap: wrap; /* Si los links no entran en una fila, bajan solos sin estirar la pantalla */
        justify-content: center;
        gap: 5px; /* Achicamos un poco la separación del cuadro */
    }

    header nav a {
        padding: 0.4rem 0.6rem; /* Cuadros un poco más pequeños en celular */
        font-size: 0.9rem;
    }

    /* En el Hero para que el texto no empuje el diseño */
    .hero h2 {
        font-size: 1.8rem; /* Se achica el título para que entre bien en pantallas chicas */
    }
    
    .hero p {
        font-size: 1rem; /* Texto un poquito más amigable para celular */
    }
    /* @media - Contacto*/
    .contacto-flex {
        flex-direction: column; /* Pone el formulario arriba y el mapa abajo en celulares */
    }
    
    .contacto-mapa {
        min-height: 300px; /* Un poco más bajo en pantallas chicas */
    }
}
@media (max-width: 768px) {
    .footer-fila-principal {
        flex-direction: column; /* En celulares se vuelve una lista ordenada vertical */
        gap: 25px;
        text-align: center;
    }

    .footer-nav ul {
        flex-direction: column; /* Los links del menú se apilan hacia abajo - columna */
        gap: 15px;
    }
}